body {
    background-color: #f8f9fa;
    background-image: url('../Image/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#imagePreview {
    transition: all 0.3s ease;
    margin-top: 10px;
}

#preview {
    border: 2px solid #ddd;
    padding: 3px;
    margin-left: 35%;
    transition: transform 0.3s ease;
}

#preview:hover {
    transform: scale(1.05);
}